@CHARSET "UTF-8";

body{
	color: #505050;
	font-size: 6px;
	font-family: "News Cycle"", sans-serif;
}

.caltable{
	border-collapse: collapse;
	border: solid #505050 1px;
	font-size: 10px;
}

.timebox, .lunchbox, .totdayhours, .datepicker{
	font-size: 10px;
}
